.title {
  margin: 2rem auto;
  font-size: larger;
  display: flex;
  justify-content: center;
}

.job-card {
  text-decoration: none;
}

header {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  margin: 2rem auto;
  max-width: 800px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.loader {
  width: fit-content;
  margin: 3rem auto;
  font-size: larger;
}
